@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Ovo');

/*Global*/
body {
	background: #0E71B2;
	font-family: Ovo;
}

ul,li {
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
}

/*Header Principal*/

#main-header{
	width: 100%;
	float: left;
	background: #FFB347;
	color:#fff;	
	box-shadow: 0px 1px 1px #000;
		-moz-box-shadow: 0px 1px 1px #000;
		-webkit-box-shadow: 0px 1px 1px #000;
	margin-bottom: 20px;	
}

#main-header h1{
	float: left;
	margin-left: 1em;
	font-size: 40px;	
	letter-spacing: 2px;
	padding:10px;
}

@media (max-width: 767px){
	#main-header h1{
		font-size: 35px;
		margin-top: 15px;
		margin-left: 0;
		text-transform: bold;
	}
}

#main-header nav{
	float: right;	
	padding: 15px;
	text-align: right;
	margin: 10px 10px;
}

#main-header nav ul li{
	display: inline;
}

#main-header nav ul li a{		
	margin-left: 20px;
	padding: 10px;
}

#main-header nav ul li a:hover{
	background: #FFC16B;
	color: #fff;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
}

/*Menu Movil*/

#mobile_nav nav {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	background: #FFB347;
}

.menu_bar {
	display: none;
}

#mobile_nav nav ul {
	overflow: hidden;
	list-style: none;
}

#mobile_nav nav ul li {
	float: left;
	color: #fff;
	padding: 20px;
	display: block;
	text-decoration: none;
	margin-right: 10px;
}

/*#mobile_nav nav ul li a{
	color: #fff;
	padding: 20px;
	display: block;
	text-decoration: none;
}

#mobile_nav nav ul li span {
	margin-right: 10px;
}*/

#mobile_nav nav ul li a:hover {
	background:#037E8C;
}


@media (min-width: 767px){
	#hamburger{
		display: none;	
	}
	#mobile_nav{
		display: none;
	}
}

@media (max-width: 767px){
	#login{
		display: none;	
	}
	#main-header nav{				
		margin: 10px 0px;		
	}

	@media (max-width: 369px){
		#main-header nav {
			margin-top: -70px;
		}
	}

	#mobile_nav nav {
		width: 80%;
		height: 100%;
		left:-100%;
		margin: 0;
		position: fixed;
	}

	#mobile_nav nav ul li{
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display: block;
		width: 100%;		
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;		
		/*background: #024959;*/
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		-webkit-box-box-sizing:border-box;
		-moz-box-box-sizing:border-box;
		box-sizing:border-box;
	}	

	.menu_bar span{
		float: right;
		font-size: 40px;

	}

	/*Hamburger/Cross ICON */
	
	#flag {
    display: none;
	}
	
	/*Hamburger*/
	#hamburger {
    	position: relative;
    	display: block;
    	width: 3em;
    	height: 1em;
    	cursor: pointer;    
	}

	#hamburger span {
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	width: 2em;
    	height: .3em;
    	margin: auto;
    	transition: background 0s .25s;
    		-webkit-moz-transition: background 0s -25s;
    		-moz-moz-transition: background 0s -25s;
    		-ms-moz-transition: background 0s -25s;
    		-o-moz-transition: background 0s -25s;    
    	background: #fff;
	}


	#hamburger span:before,
	#hamburger span:after {
    	position: absolute;
    	width: inherit;
    	height: inherit;
    	content: '';
    	transition-delay: .25s, 0s;
    		-webkit-moz-transition-delay: .25, 0s;
    		-moz-moz-transition-delay: .25, 0s;
    		-ms-moz-transition-delay: .25, 0s;
    		-o-moz-transition-delay: .25, 0s;    
    	transition-duration: .25s, .25s;
    		-webkit-moz-transition-duration: .25s, .25s;
    		-moz-moz-transition-duration: .25s, .25s;
    		-ms-moz-transition-duration: .25s, .25s;
    		-o-moz-transition-duration: .25s, .25s;    
    	background: #fff;
	}
	
	#hamburger span:before {
    	top: -0.5em;
    	left: -0.01em;
    	transition-property: top, transform;
    		-webkit-moz-transition-property: top, transform;
    		-moz-moz-transition-property: top, transform;
    		-ms-moz-transition-property: top, transform;
    		-o-moz-transition-property: top, transform;    
	}

	#hamburger span:after {
    	bottom: -0.5em;
    	left:-0.01em;
    	transition-property: bottom, transform;
    		-webkit-moz-transition-property: botton, transform;
    		-moz-moz-transition-property: botton, transform;
    		-ms-moz-transition-property: botton, transform;
    		-o-moz-transition-property: botton, transform;    
	}

	@media (max-width: 369px){
		#hamburger span{
			width: 1em;			
			height: .2em;
		}
		#hamburger span:before{
			left: -0.0001em;
			top: -0.3em;
		}

		#hamburger span:after {
			left: -0.0001em;
			bottom: -0.3em;
		}
		.menu_bar .bt-menu {		
			margin-right:-30px; 
		}
	}
	
	/*Cross*/
	#flag:checked + span {
    	background: none;	
	}

	#flag:checked + span:before {
    	top: 0;
    	transform: rotate(45deg);
    		-webkit-moz-transform: rotate(45deg);
    		-moz-moz-transform: rotate(45deg);
    		-ms-moz-transform: rotate(45deg);
    		-o-moz-transform: rotate(45deg);    
	}
	
	#flag:checked + span:after {
    	bottom: 0;
    	transform: rotate(-45deg);
    		-webkit-moz-transform: rotate(-45deg);
    		-moz-moz-transform: rotate(-45deg);
    		-ms-moz-transform: rotate(-45deg);
    		-o-moz-transform: rotate(-45deg);    
	}
	
	#flag:checked + span:before,
	#flag:checked + span:after {
	    transition-delay: 0s, .25s;
    		-webkit-moz-transition-delay: 0s, .25s;
    		-moz-moz-transition-delay: 0s, .25s;
    		-ms-moz-transition-delay: 0s, .25s;
    		-o-moz-transition-delay: 0s, .25s;    
	}

	#flag:checked + section {
		display: none;
	}

}

/*Aside Menu Bar*/
#main-navigation{
	float: left;
	background: #FFB347;
	margin-left: 20px;
	width: 20%;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 0px 1px 1px #000;
		-moz-box-shadow: 0px 1px 1px #000;
		-webkit-box-shadow: 0px 1px 1px #000;
}

@media (max-width: 767px){
	#main-navigation{
		display: none;
	}
}

#main-navigation nav{
	width: 20%;	
	background: #FFB347;
	position: fixed;
	
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	

}


#main-navigation nav ul li{
	padding-bottom: 20px;
	padding-top: 20px;
	color: #80261D;	
	text-align: center;
	transition: all .5s;
	letter-spacing: 2px;
}


#main-navigation nav ul li:hover{
	background: #11488D;
	color: #fff;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

/*Posts Part*/

#posts {
	width: 70%;
	float: right;
	margin-top: 25px;
}

@media (max-width: 767px){
	#posts{
		width: 100%;

	}
}

section.articule-prev{		
	margin-bottom: 50px;
	background: #FFB347;
	color:#fff;
	width: 100%;
	float: right;	
	
	margin-right: 15px;	
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
	box-shadow: 0px 1px 1px #000;
		-moz-box-shadow: 0px 1px 1px #000;
		-webkit-box-shadow: 0px 1px 1px #000;
}

@media (max-width: 767px){
	section.articule-prev{
		float: left;
		margin-left: 15px;
		width: 95%;		
		margin-bottom: 60px;
		margin-right: 0px;
		position: relative;
	}
}

@media (max-width: 420px){	
	section.articule-prev{		
		width: 90%;			
	}
}


section.articule-prev header{ 
	width: 30%;
	height: 50px;
	margin-top: -10px;
	margin-left: -10px;
	background: #d35400;
	text-align: center;
	font-size: 20px;	
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;	
	box-shadow: 0px 1px 3px #000;
		-moz-box-shadow: 0px 1px 3px #000;
		-webkit-box-shadow: 0px 1px 3px #000;
}

@media (max-width: 850px){
	section.articule-prev header{		
		font-size: 18px;
	}
}

@media (max-width: 767px){
	section.articule-prev header{		
		width: 60%;
		margin-top: -25px;
		margin-left: 20%;
		position: absolute;
		font-size: 20px;				
	}
}

section.articule-prev h2{ 
	padding-top: 15px;
	width: 100%;
}

section.articule-prev button.boton1{
	width: 50px;
	height: 50px;
	background: #11488D;
	float: right;
	margin-right: 50px;
	margin-top: -30px;
	border:none;
	margin-bottom: 30px;
	color: #fff;
	border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;	
	box-shadow: 0px 1px 1px #000;
		-moz-box-shadow: 0px 1px 1px #000;
		-webkit-box-shadow: 0px 1px 1px #000;
	transition: all .5s;
	letter-spacing: 1px;
}

@media (max-width: 767px){
	section.articule-prev button.boton1{
		display: none;
	}
}

section.articule-prev button.boton2{
	width: 50px;
	height: 50px;
	background: #11488D;
	float: right;
	margin-right: 50px;
	margin-top: -30px;
	border:none;
	margin-bottom: 30px;
	color: #fff;
	border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;	
	box-shadow: 0px 1px 1px #000;
		-moz-box-shadow: 0px 1px 1px #000;
		-webkit-box-shadow: 0px 1px 1px #000;
	transition: all .5s;
	letter-spacing: 1px;
}

@media (min-width: 767px){
	section.articule-prev button.boton2{
		display: none;	
	}
}

@media (max-width: 767px){
	section.articule-prev  button.boton2{
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 45%;

	}
}

section.articule-prev button:hover{
	background: #d35400;	
}

section.articule-prev article {	
	float: left;
	width: 100%;
	position: relative;
	
}

@media (max-width: 767px){
	section.articule-prev article {	
		position: static;
	}
}

section.articule-prev article img {	
	width: 220px;
	height: 10em;
	float: left;
}

@media (max-width: 767px){
	section.articule-prev article img{
		width: 100%;
		display: block;		
	}
}


section.articule-prev article > p {
	display: inline-block;
	position: absolute;	
	background: #d35400;
	color: #fff;
	font-size: 15px;
	text-align: justify;	
	line-height: 18px;
	width: auto;
	height: 85%;
	padding: 12px 40px 12px 40px;	
	font-size: 15px;
}

@media (max-width: 900px){
	section.articule-prev article > p{
		font-size: 12px

	}
}

@media (max-width: 767px){
	section.articule-prev article > p{
		font-size: 15px;
		position: relative;

	}		
}

